{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="shortcut icon" type="image/png" href="{% static 'physicsGalaxy/images/logo1.png' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <title>PhysicsGalaxy: Exam Panel</title>
</head>

<body>
    <a style="display: block;text-align: right; color: #ddd; margin-right: 20%" href="/admin"> Go to Admin </a>
    <div id="container">
        <a class="button" href="/login"> Go to Quiz </a>
        <img src="{% static 'physicsGalaxy/images/frontimg.png' %}" style="width: 98%;border: 8px solid #A3B00D;">
        <h3 style="text-align: right; margin-right: 100px;"><u>Designed and Developed by </u>
            <h3 style="text-align: right;margin-right: 130px;color: #fff;"><a href="https://www.instagram.com/itzz_bonggo_hriday/">Sudip Bera</a></h3>
            <h3 style="text-align: right;margin-right: 130px;color: #fff;">Copyright © 2021-2022 PhysicsGalaxy.com</h3>
        </h3>
    </div>
</body>

</html>